<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Produto</title>
    @vite('resources/css/app.css')
</head>

<body>
    <header>
        <h1>E-commerce</h1>
        <nav>
            <a href={{route('produtos.listar')}}>Produtos</a>
        </nav>
    </header>

    <form action={{route('produto.criar')}} method="POST">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required />
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" required></textarea>
        </div>
        <div>
            <label for="preco">Preço:</label>
            <input type="number" id="preco" name="preco" step="0.01" required />
        </div>
        <div>
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" required />
        </div>
        <button type="submit">Criar Produto</button>
    </form>
</body>

</html>