@layout.app({ title: "E-commerce" })

@slot('main')
<h1>Lista de Produtos</h1>

<div>
    @if(produtos && produtos.length > 0)
    @each(produto in produtos)
    @include('components/produto_card')
</div>

@endeach
@else

@include('components/lista_vazia')

@endif

@endslot

@end