<footer>
    <p>Construído por
        <a href='https://github.com/elyda66'>Élyda</a>
        e
        <a href='https://github.com/fllpo'>Fellipe </a>
        <img src="/resources/images/rural_logo_branco.png" width="40">
    </p>
</footer>