<footer>
    <p>UFRRJ 2025. Criado por
        <a href='https://github.com/elyda66'>Elyda</a>
        e
        <a href='https://github.com/fllpo'>Fellipe</a>
    </p>

    <!-- <img src="../img/rural_logo_branco.png">-->

</footer>